<header id="welcome">
  <h1>Welcome back,&ensp;<%= current_user.first_name %></h1>
  <h3> <%= DateTime.now.strftime('%A, %B %e, %Y') %> </h3>
</header>

<h2>Your trips&ensp;<%= link_to 'Add a Trip', new_trip_path, class: 'ui small teal button' %></h2>

<div class="ui divider hidden"></div>

<div class="ui grid">
    <div class "sixteen wide computer column">
      <div class="ui cards">
        <% @trips.each do |trip| %>
          <div class="card">
            <div class="image">
              <%= check_if_image_is_present(trip) %>
            </div>
            <div class="content">
              <div class="header">
                <%= link_to trip.name, trip_path(trip.id), class: 'header' %>
                <br>
              </div>
              <p><%= trip.check_date_closeness %></p>
              <div class="ui divider"></div>
              <div class="ui center aligned">
                <em><%= display_date_range(trip) %></em>
              </div>
            </div>
            <div class="extra content">
              <%= link_to 'Preview', trip_path(trip.id), class: 'ui orange button' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
