<header id="welcome">
  <h1>Your <%= @trip.name %> Trip</h1> <%= display_date_range(@trip) %> (<%= (@trip.date_end - @trip.date_start).to_i %> days)
</header>

<br>

<%= link_to 'Edit', edit_trip_path, class: 'ui teal button' %>
<%= link_to 'Remove Trip', trip_path(@trip), method: :delete, data: { confirm: 'Are you sure?'}, class: 'ui red button' %>

<div class="ui piled segment">
  <p><%= @trip.desc %></p>
</div>

<%= link_to 'Add New Location', '#', class: 'ui orange button' %>

<div class="ui grid">
  <div class "sixteen wide computer column">
    <div class="ui cards">
      <% @trip.locations.each do |location| %>
        <div class="card">
          <div class="content">
            Location:
          </div>
          <div class="extra content">
            <%= link_to 'Remove from Trip', "#", method: :patch %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
