<h1><%= @trip.name %> Destinations</h1>

<%= link_to 'Back', trips_path %> |
<%= link_to 'Edit', edit_trip_path %> |
<%= link_to 'Remove Trip', trip_path(@trip), method: :delete, data: { confirm: 'Are you sure?'} %>|
<%= link_to 'Add New Location', new_location_path %> |

<div class="ui divider"></div>

<div class="ui grid">
  <div class "sixteen wide computer column">
    <div class="ui cards">
      <% @trip.locations.each do |location| %>
        <div class="card">
          <div class="content">
            Location:
          </div>
          <div class="extra content">
            <%= link_to 'Remove from Trip', "#", method: :patch %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
