<h1><%= @location.id? ? @address.id? ? 'Edit Address' : 'Add New Address' %></h1>

<div class="ui divider"></div>

<%= form_for [@location, @address], html: {class: "ui form"} do |f| %>

  <div class="eight wide field">
    <%= f.label :street %>
    <%= f.text_field :street, required: true %>
  </div>
  <div class="fields">
    <div class="four wide field">
      <%= f.label :city %>
      <%= f.text_field :city, required: true %>
    </div>
    <div class="four wide field">
      <%= f.label :state %>
      <%= f.text_field :state, required: true %>
    </div>
  </div>
  <div class="four wide field">
    <%= f.label :zip %>
    <%= f.text_field :zip, required: true %>
  </div>
  <div class="action">
    <%= f.submit class: 'ui teal button' %>
  </div>

  <div class="ui hidden divider"></div>

<% end %>

<% if @address.id? %>
  <%= link_to 'Cancel', location_path(@address), class: 'ui red basic button' %>
<% else %>
  <%= link_to 'Cancel', locations_path, class: 'ui red basic button' %>
<% end %>
