<h1><%= @location.id? ? 'Edit Location' : 'Add New Location' %></h1>

<div class="ui divider"></div>

<%= form_for @location, html: {class: "ui form"} do |f| %>

  <div class="four wide field">
    <p><strong><%= f.label :name %></strong></p>
    <%= f.text_field :name, required: true %>
  </div>

  <div class="ui hidden divider"></div>

  <div class="four wide field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="ui hidden divider"></div>

  <div class="action">
    <%= f.submit class: 'ui teal button' %>
  </div>

  <div class="ui hidden divider"></div>

<% end %>

<%= link_to 'Cancel', locations_path(@location), class: 'ui button red' %>
