<header id="welcome">
  <h1><%= @location.name %></h1>
  <% if @location.address %>
    <%= display_full_address(@location) %>
  <% else %>
    <%= link_to 'Add New Address', new_location_address_path(@location), class: 'ui green button' %>
  <% end %>
</header>

<br>

<%= link_to 'Edit Location', edit_location_path, class: 'ui teal button' %>
<%= link_to 'Delete Location', location_path(@location), method: :delete,
                                                   data: { confirm: 'Are you sure?'},
                                                   class: 'ui red button' %>

<div class="ui divider hidden"></div>

<div style='width: 500px;'>
  <div id="map" style='width: 500px; height: 250px;'></div>
</div>

<div class="ui divider hidden"></div>

<%= render 'shared/map' %>
